@font-face {
    font-family: whiterabt;
    src: url("../fonts/whiterabt.ttf");
}

@font-face {
    font-family: plank;
    src: url("../fonts/plank.ttf");
}

@font-face {
    font-family: jbmn;
    src: url("../fonts/jbmn.ttf");
}


.circle {
	border: 2px solid #ffffff;
	border-radius: 50%;
}

a {
	text-decoration: none;
}

/* img {
	border-radius: 15px;	
	border: 2px solid #fffbcf;		
} */


h1 {
	font-family: sans-serif;
	color: #ffffff;
	font-size: 24px;
	
}

h2 {
	font-family: sans-serif;	
	color: #ffffff;
	font-size: 24px
}


body {
	margin-top: 35px;
	
	background-color: #4a4438;
	justify-content: center;
}

p {
	color: #ffffff;
	font-family: sans-serif;
	font-size:24px;	
}


