@font-face {
    font-family: whiterabt;
    src: url("../fonts/whiterabt.ttf");
}

@font-face {
    font-family: plank;
    src: url("../fonts/plank.ttf");
}

@font-face {
    font-family: libertinus;
    src: url("../fonts/libertinus.otf");
}

@font-face {
    font-family: jbmn;
    src: url("../fonts/jbmn.ttf");
}


.header {
	margin-top: 125px;
}

.gazik {
	margin-top: 25px;
}

div {

	background-color: #FFF8F0;
	text-align: center;
}

h1 {
	font-family: libertinus;
	color: #2C3F7A;
	font-size: 18px;
}

body {
	margin-top: 35px;
	background-color: #FFF8F0;
	justify-content: center;
}

a {
	text-decoration: none;
}

p {
	color: #111D4A;
	font-family: libertinus;
	font-size: 14px;
}
